:root{
    --dark_text: #4a4a4a;
    --medium_text: #a1a1a1;
    --light_text: #f4f4f4;
}

/* Hide scroolbar for Chrome, Safari and Opera */
body::-webkit-scrollbar{
    display: none;
}

body {
    color: #4a4a4a;
    font-size: 16px;
    padding: 0;
    margin: 0;
    font-family: "Lato", "Sans Serif";
    /* Hide scroolbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* SECTIONS */
#main_header {
    display: flex;
    justify-content: center;
}

/* !!! WARNING !!! - ONLY USED FOR PREVIEW, CHANGE ACCORDINGLY */
#bio, #skills, #project, #contact_form {
    height: 400px;
}
/* !!! WARNING !!! - ONLY USED FOR PREVIEW, CHANGE ACCORDINGLY */

.img {
    background: linear-gradient(0deg, #111, transparent 180%), url(img/back.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    filter: saturate(0) brightness(0.7);
}

.overlay {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.menu {
    background-color: rgba(100,100,100,1);
    width: 0;
    height: 100vh;
    left: 0;
    position: absolute;
    z-index: 1;
    transition-duration: 0.5s;
}

.menu_list {
    display: none;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.menu_list li {
    list-style: none;
    box-shadow: 1px 1px 2px;
    text-align: left;
    cursor: pointer;
    text-transform: capitalize;
    padding: calc((100vh / 8 ) - (1em * 2) - (4px)) 2em;
}

.menu_list li a {
    color: var(--light_text);
}

.menu_list li:hover {
    background: rgba(255,0,0,0.4) !important;
}

.menu_list li:nth-child(1) {
    background: rgba(0,0,0,0.3);
}

.menu_list li:nth-child(2) {
    background: rgba(0,0,0,0.4);
}

.menu_list li:nth-child(3) {
    background: rgba(0,0,0,0.5);
}

.menu_list li:nth-child(4) {
    background: rgba(0,0,0,0.6);
}

i[class^="fa"]{
    font-size: 1.5em;
    padding: 1em;
}

a {
    text-decoration: none;
    color: initial;
}

.toggle {
    width: 80%;
}

.hamburger_menu {
    position: absolute;
    right: -40px;
    top: 20px;
    cursor: pointer;
    transition-duration: 0.5s;
}

.menu_lines {
    gap: 7px;
    display: flex;
    flex-direction: column;
}

.line {
    border-bottom: 2px var(--medium_text) solid;
    width: 30px;
}

.scroll_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--medium_text);
    position: absolute;
    bottom: 20px;
    cursor: default;
}

.arrow {
    display: flex;
    gap: 19px;
}

.left_arrow {
    border-left: 1px var(--medium_text) solid;
    border-right: 1px var(--medium_text) solid;
    transform: rotate(315deg);
    height: 30px;
}

.right_arrow {
    border-left: 1px var(--medium_text) solid;
    border-right: 1px var(--medium_text) solid;
    transform: rotate(45deg);
    height: 30px;
}

.mainHeader{
    position: absolute;
    bottom: 45%;
    color: #fff;
    font-size: 2vw;
    letter-spacing: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    text-align: center;
    max-width: 90%;
}

.mainHeader span:nth-child(1) {
    font-size: 5vw;
    background: rgba(255, 0, 0, 0.2);
    padding: 0.2em 0.5em;
    letter-spacing: 0.4em;
    margin-bottom: 0.5em;
}

@media only screen and (min-width: 800px) {
    .toggle {
        width:30%;
    }
}